{
  "bindIP": "0.0.0.0",
  "serverPort": 53,
  "zoneList": [
    {
      "name": "domain",
      "enable": true,
      "priority": 10,
      "denyNXDomain": false,
      "dnsIP": "223.5.5.5",
      "dnsPort": 53,
      "ipList": [
        {
          "enable": true,
          "deny": false,
          "inverseIPList": false,
          "family": 4,
          "file": "config/domain_ip_list.txt"
        }
      ]
    },
    {
      "name": "other_domain",
      "enable": true,
      "priority": 20,
      "dnsIP": "8.8.8.8",
      "dnsPort": 53,
      "ipList": [
        {
          "enable": true,
          "deny": false,
          "inverseIPList": true,
          "family": 4,
          "file": "config/domain_ip_list.txt"
        }
      ]
    }
  ]
}
